@import '../../variables.scss';
@import '../../typography.scss';

@mixin size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

.trui{
  &-button {
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    &--primary {
      color: white;
      background-color: #1ea7fd;
    }
    &--secondary {
      color: #333;
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    }
    &--small {
      @include size(12px, 10px 20px);
    }
    &--medium {
      @include size(14px, 11px 20px);
    }
    &--large {
      @include size(16px, 12px 24px);
    }
  }
}